<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <!-- 日志格式和颜色渲染 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <define name="LOG_HOME" class="com.qinweizhao.config.LogOutPathConfig"/>

    <!-- 设置上下文名称 -->
    <contextName value="boot-logging"/>

    <!-- 定义日志目录参数 -->
    <property name="logName" value="logs"/>

    <!-- 定义参数 -->
    <property name="logback.dirPath" value="${LOG_HOME}"/>
    <property name="logback.contextName" value="${logName}"/>

    <property name="logback.lever" value="debug"/>
    <property name="logback.pattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS}[%p][%t] %c[%L] %m %n"/>
    <property name="logback.MaxFileSize" value="1MB"/>
    <property name="logback.maxHistory" value="7"/>

    <!-- 日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!--子节点一: 输出到控制台 -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- 输出到文件 -->
    <!-- 按照每天生成日志文件 -->
    <!-- TRACE -->
    <appender name="TRACE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.dirPath}/${logback.contextName}/trace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${logback.dirPath}/${logback.contextName}/%d{yyyy-MM-dd}/trace.logs-%i.log
            </fileNamePattern>
            <!--日志文件最大的大小-->
            <MaxFileSize>${logback.MaxFileSize}</MaxFileSize>
            <!--日志文件保留天数-->
            <MaxHistory>${logback.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- DEBUG -->
    <appender name="DEBUG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.dirPath}/${logback.contextName}/debug.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.dirPath}/${logback.contextName}/%d{yyyy-MM-dd}/debug.logs-%i.log
            </fileNamePattern>
            <MaxFileSize>${logback.MaxFileSize}</MaxFileSize>
            <MaxHistory>${logback.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- INFO -->
    <appender name="INFO_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.dirPath}/${logback.contextName}/info.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.dirPath}/${logback.contextName}/%d{yyyy-MM-dd}/info.logs-%i.log</fileNamePattern>
            <MaxFileSize>${logback.MaxFileSize}</MaxFileSize>
            <MaxHistory>${logback.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- WARN -->
    <appender name="WARN_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.dirPath}/${logback.contextName}/warn.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.dirPath}/${logback.contextName}/%d{yyyy-MM-dd}/warn.logs-%i.log</fileNamePattern>
            <MaxFileSize>${logback.MaxFileSize}</MaxFileSize>
            <MaxHistory>${logback.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- ERROR -->
    <appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.dirPath}/${logback.contextName}/error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.dirPath}/${logback.contextName}/%d{yyyy-MM-dd}/error.logs-%i.log
            </fileNamePattern>
            <MaxFileSize>${logback.MaxFileSize}</MaxFileSize>
            <MaxHistory>${logback.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logback.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--第三方日志配置-->
    <logger name="org.springframework" level="info"/>
    <logger name="com.baomidou.mybatisplus.core.MybatisConfiguration" level="info"/>
    <logger name="com.zaxxer.hikari" level="info"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="${logback.lever}"/>

    <!-- 日志输出级别 -->
    <root level="${logback.lever}">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="TRACE_APPENDER"  />
        <appender-ref ref="DEBUG_APPENDER"/>
        <appender-ref ref="INFO_APPENDER"/>
        <appender-ref ref="WARN_APPENDER"/>
        <appender-ref ref="ERROR_APPENDER"/>
    </root>

</configuration>